// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html,body{
    margin: 0px;
    top: 0;
    bottom: 0;
    min-height: 100vh;
}
.root{
    background-color: black;
    border: solid 2px red;
    height: 100%;
    // display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    background-color: aqua;
    min-height: 6%;
    margin: 1px;
}
.main{
    background-color: blueviolet;
    border: solid 2px red;
    height: 85%;
    margin: 1px;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    overflow: scroll;
}
.app-content{
    background-color: blueviolet;
    border: solid 2px red;
    // max-height: 100%;
    margin: 1px;
    display: flex;
    align-items: flex-start;
    // overflow-y: scroll;
    // overflow-x: auto;
}
.content-header{
    display: flex;
    justify-content: space-around;
}
.footer{
    background-color: aquamarine;
    height: 8%;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.table-width {
    max-width: 1000px;
}

// .table-height {
//     height: 70vh;
//     background-color: aqua;
//     border: solid yellow 2px;
// }



.img-width {
    width: 30px;
    margin-top: 4px;
}

.img-input {
    position: absolute;
    right: 35px;
}