// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



.center-s{
    justify-content: center;
    align-items: center;
}
.table-width{
    max-width: 1000px;
}
.table-height{
    max-height: 83vh;
}
.c-center{
justify-content: center;
}
.h-full{
    height: 100vh;
}
.img-width{
    width: 30px;
    margin-top: 4px;
}
.img-input{
    position: absolute;
    right: 35px;
}